#logo{
    width: 3.5rem;
}

.saldoId::before, #txtTranSaldo::before, #txtRecarSaldo::before, #txtPagarTSaldo::before, #txtPagarSalPend::before{
    content: '$'!important;
}

.h-300px{
    height: 300px!important;
}

.w-200px{
    width: 270px!important;
}